<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>プロフィール編集</h2>

      <%= form_with model:@user, local:true do |f| %>

  	  	<% if @user.errors.any? %>
          <div class="alert alert-warning">
            <ul>
               <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
                <% end %>
            </ul>
          </div>
        <% end %>


        <div class="form-group">
          <label for="inputName">Name</label></br>
          <%= f.text_field :name %>
        </div>

        <div class="form-group">
          <label for="inputImage">ProfileImage</label></br>
          <%= f.attachment_field :profile_image %>
        </div>

        <div class="form-group">
          <label for="inputintroduction">Introduction</label></br>
          <%= f.text_field :introduction %>
        </div>
        <%= f.submit "Update User" %>
      <% end %>
    </div>
  </div>
</div>
